{
	admin 0.0.0.0:2019
}

http://localhost:80 {
	rewrite * /v2{uri}
	reverse_proxy api:80
	header / {
		Strict-Transport-Security "max-age=31536000;"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer-when-downgrade"
	}

	# Log all requests to stdout for Docker logs
	log {
		output stdout
	}
}
